
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');




body{
    
    min-width: 100%;
    overflow-x: hidden;
}


a.navbar-brand{
    margin: 0px 500px 5px 30px !important;
}

@media(max-width:1500px){
  a.navbar-brand{
    margin: 0px 480px 5px 30px !important;
  }
}

@media(max-width:1479px){
  a.navbar-brand{
    margin: 0px 400px 5px 30px !important;
  }
}

@media(max-width:1400px){
  a.navbar-brand{
    margin: 0px 200px 5px 30px !important;
  }
}

@media(max-width:1199px){
  .nav-link{
    font-size: 13px !important;
  }

  a.navbar-brand{
    margin: 0px 100px 5px 30px !important;
  }
}

@media (min-width: 1500px ){
  .navbar-expand-lg .navbar-toggler {
    display: none !important;
}
}



img.logo_img{
    height: 60px;
    width: 300px;
}




a.nav-link{
   padding-left: 20px !important;
   padding-right: 20px !important;
   color: black !important;
}

a.nav-link:hover{
    color: rgb(121, 193, 241) !important;
}

.bg{
  background-image: url(imgs/bg2.jfif);
  height: 630px;
  background-size: cover;
}
.intro_text{
    
    padding-top: 200px;
    padding-left: 200px;
    color: white;
}

@media(max-width:250px){
  .intro_text{
    margin-left: 20px !important;
  }
}


.btn{
    border-radius: 0!important;
    margin-top: 30px !important;
    padding: 10px 30px 10px 30px !important;
    font-size: 18px !important;
}


.title{

    font-family: 'DM Serif Display';
}

.text1{
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: justify;
}

  
.part2{
    padding-top: 250px;
    text-align: center;
    padding-bottom: 100px;
}

.part3{
  padding-top: 10
  0px;
  text-align: center;
  padding-bottom: 100px;
}

.png1{
  width: 1970px;
  height: 230px;
  margin-top: 80px;
}

@media(max-width:500px)
{
  .png1{
    width: 415px;
  }
}

@media(max-width:414px)
{
  .png1{
    width: 412px ;
  }
  .products{
      width: 375px;
  }

  img.logo_img{
    height: 60px;
    width: 250px;
    text-align: right;
}
}

@media(max-width:400px)
{
  .png1{
    width: 385px ;
  }
}

@media(max-width:393px)
{
  .png1{
    width: 391px;
  }
}


@media(max-width:375px)
{
  .png1{
    max-width: 361px;
    
  }
  body{
    overflow-x: hidden;
  }
  .slidepic{
    height: 375px !important;
    
  }
}


.col-sm{
  text-align: justify !important;
}

.products{
  height: 400px;
  width: 100%;
}

@media(max-width:500px){
  .products{
    height: 300px;
    padding: 0% !important;
  }
}

.p_text{
  text-align: justify;
  
}

.p_namel{
  text-align: left;
}
.p_namer{
  text-align: right;
}

@media(max-width:500px)
{
  .p_div{
       padding: 10px 10px 10px 10px;
  }
}


/*slideshow*/


.sshow{
    padding-bottom: 150px;
    
}


/* .slidepic{
  width: 1200px !important;
  height: 500px;
  position: relative;
} */

/* img.slidepic{
  height: 500px !important;
  width: 1200px !important;
  
} */
.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 2s ease;
  }

  .active {
    background-color: #717171;
  }

  .fade {
    animation-name: fade;
    animation-duration: 4s;
  }

  @keyframes fade {
    from {opacity: 1} 
    to {opacity: 1}
  }

  @media(max-width: 400px) {
    .text {font-size: 11px}

  } 
  
  @media(max-width: 400px) {
    .text1 {font-size: 11px}
    
  }

  @media(max-width:400px)
  {
    .slidepic{
      height: 375px !important;
      
    }
  }

  .png{
    height: 100px !important;
    width: 100%;
  }

  
  